@import "elements";

@font-face {
    font-family: 'RegloBold';
    src: url('reglo-bold-webfont.eot');
    src: url('reglo-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('reglo-bold-webfont.woff') format('woff'),
         url('reglo-bold-webfont.ttf') format('truetype'),
         url('reglo-bold-webfont.svg#RegloBold') format('svg');
    font-weight: bold;
    font-style: normal;
}


html, body, #map_canvas {
    margin: 0;
    padding: 0;
    height: 100%;
}

.kvak-ui {
    z-index: 1000;
    position: fixed;
    top: 22px;
    padding: 8px;
    .rounded(5px);
    .opacity(0.6);
    background-color: #ccc;
    font-family: 'RegloBold';
    font-weight: 'bold';
    font-size: 16px;
    line-height: 20px;
//    visibility: hidden;
}

.kvak-ui p {
  font-size: 16px;
  line-height: 20px;
}

#kvak-logotype {
  left: 10%;
  font-size: 128px;
  line-height: 128px;
}

#kvak-about-trigger {
  left: 83%;
  font-size: 128px;
  line-height: 128px;
}

#kvak-login-trigger {
  top: inherit;
  bottom: 22px;
  left: 10%;
}

#kvak-upload-trigger {
  top: inherit;
  bottom: 22px;
  left: 20%;
}

#kvak-about {
    top: 230px;
    left: 20%;
    right: 20%;
}

#kvak-login {
    top: 280px;
    width: 230px;
    left: 30%;
}

#kvak-upload {
    top: 230px;
    right: 22px;
    left: 50px;
}

